@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700&display=swap');

*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.hero_section{
   background-image: url(images/developer.png); 
   min-height: 100vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.text_container{
   color: white;
   max-width: 900px;
   margin: 0 auto; 
   padding-top: 64px;
   padding-left: 16px;
}

.lg_text{
    font-size: 52px;
}

.black_box{
    background-color: black;
    padding: 20px;
    /* width: 100%;
    height: 20vh;
    padding-left: 100px; */
}

.black_box h2{
    color: white;
    font-size: 72px;
    text-align: center;
    font-weight: 300;
}

.black_box h2 span{
    font-weight: 400;
    font-size: 96px;
}

.work {
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 70%;
    margin-top: 60px;
    flex-wrap: wrap;
}

.card{
    max-width: 320px;
    height: 400px;
    box-shadow: 3px 5px 5px rgb(52, 56, 70);
    border-radius: 25px;
    transition: transform 0.3s ease;
}

.card:hover {
    background-color: rgb(213, 229, 235);
    transform: scale(1.08);
}

.card_content {
    padding: 28px;
}

.bottom_section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.contact{
    background-color: #515603;
    width: 50%;
    padding: 30px;
    min-height: 300px;
    padding: 32px;
    color: white;
}

.about{
    background-color: #722300;
    width:50%;
    padding: 30px;
}

.about h2, .contact h2 {
    font-size: 64px;
    font-weight: 300;
    color: white;
}

.about p, .contact p {
    margin-bottom: 20px;
    color: white;
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footer h2{
    color: white;
}

.profile{
    display: flex;
    width: 30%;
    gap: .5rem;
    margin-left: 5px;
}

.profile img{
    height: 30px;
    width: 30px;
}

.footer p{
    color: white;
}


.footer-content {
    text-align: center;
    padding: 20px; 
}

.footer-title {
    font-size: 24px; 
    margin-bottom: 10px; 
}

.footer-copyright {
    font-size: 14px;
    font-weight: 300; 
}

.detail img{
    height: 30px;
    width: 30px;
}

.email{
    display: flex;
    align-items: center;
}
.email p{
    padding-left: 15px;
    padding-top: 12px;
}

.phone{
    display: flex;
    align-items: center;
}
.phone p{
    padding-left: 15px;
    padding-top: 12px;
}


@media  (max-width:767px){
    .lg_text{
        font-size: 35px;
    }

    .black_box h2 {
        font-size: 43px;
    }
    .contact{
        width: 100%;
    }
    
    .about{
        width:100%;
    }

    .bottom_section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 18px;
    }

    .about h2, .contact h2 {
        font-size: 34px;
        font-weight: 500;
    }

    .footer h2 {
        color: white;
        font-size: x-small;
    }

    .profile {
        margin-left: 2px;
    }

    .profile img{
        height: 25px;
        width: 25px;
    }

    .footer-copyright {
        font-size: 10px; 
    }
}